[user]
	name = hohihohi
	email = a56.tazima@gmail.com
[core]
	editor = vim
	fileMode = true
	ignoreCase = false
	trustctime = true
	checkStat = minimal
	quotepath = false
	eol = lf
	autocrlf = input
	safecrlf = true
	symlinks = true
	ignoreStat = false
	warnAmbiguousRefs = true
	commentChar = auto
	pager = LESSCHARSET=utf-8 less
	whitespace = cr-at-eol
[alias]
	review = diff origin/main
	aliases = config --get-regexp alias
