[user]
	name = hohihohi
	email = a56.tazima@gmail.com
[core]
	editor = vim
	fileMode = true
	ignoreCase = false
	trustctime = true
	checkStat = minimal
	quotepath = false
	eol = lf
	autocrlf = input
	safecrlf = true
