[user]
	name = hohihohi
	email = a56.tazima@gmail.com
[core]
	editor = vim
	fileMode = true
	ignoreCase = false
	trustctime = true
	checkStat = minimal
	quotepath = false
	eol = lf
	autocrlf = input
	safecrlf = true
	symlinks = true
	ignoreStat = false
	warnAmbiguousRefs = true
	commentChar = auto
	pager = LESSCHARSET=utf-8 less
	whitespace = cr-at-eol
[alias]
	review = diff origin/main
	aliases = config --get-regexp alias
[branch]
	sort = -authordate
	autoSetupMerge = always
	autoSetupRebase = always
[clone]
	defaultRemoteName = origin
[color]
	advise = true
	branch = true
	diff = true
	grep = true
	interactive = true
	push = true
	remote = true
	showBranch = true
	status = true
	transport = true
	ui = true
[color "diff"]
	# http://qiita.com/qurage/items/452f2debb64e2708a46c
	meta = 242 238
	frag = 239 236
	old = 167 normal
	new = 030 normal
	context = 240
	commit = 246 024
[commit]
	status = true
	template = ~/.commit_template
[credential]
	helper = osxkeychain
[ghq]
	root = ~/Work/src
